In [ ]:
#Importing the Libraries
import pandas as pd  #Pandas used for data handling & analysis (tables, cleaning)
import numpy as np  #NumPy is used for fast numerical computations (arrays, math)
import matplotlib.pyplot as plt #Matplotlib (plt) is the base plotting library (line, bar, scatter, etc.)
import seaborn as sns   #Seaborn (sns) provides more advanced & prettier visualizations (built on Matplotlib)


#Importing the Dataset from Libre Office
df = pd.read_csv("/home/user/Pyth/pyth_mysql/pandas/CollegePlacement/CollegePlacement.csv")

#Display the first 5 rows
print("\n The First Five Rows \n")
print(df.head())

#Shows information about the dataset (like the number of rows, columns, data types)
print("\n Information on the Dataset \n")
print(df.info())

#Descriptive Statistics
print("\n Numerical Summary \n") #Prints out the heading "Numerical Statistics"
print(df.describe().T)  #Each column gets described statistically and each column in the dataset gets its own row (Transpose)

#Check dataset shape (rows, columns)
print("\n Shape of the Dataset \n")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

#Checking for missing values
print("\n Check for Missing Values \n")
print(df.isnull().sum())  #Shows the sum of missing values in each column

#Counting the values of Yes/No in the "Placement" and "Internship_Experience" columns
print("\n The Value Counts for Internship_Experience \n")
print(df["Internship_Experience"].value_counts())  #Counts the occurrences of each unique value in the "Internship_Experience" column

print("\n The Value Counts for Placement \n")
print(df["Placement"].value_counts())  #Counts the occurrences of each unique value in the "Placement" column

#Changing the Values in the "Placement" and "Internship_Experience" columns from Yes/No to 1/0
df["Internship_Experience"] = df["Internship_Experience"].map({"Yes":1, "No":0})
print(df.head())

df["Placement"] = df["Placement"].map({"Yes":1,"No":0})
print(df.head())

#Correlation Analysis

 The First Five Rows

  College_ID   IQ  Prev_Sem_Result  CGPA  Academic_Performance  \
0    CLG0030  107             6.61  6.28                     8
1    CLG0061   97             5.52  5.37                     8
2    CLG0036  109             5.36  5.83                     9
3    CLG0055  122             5.47  5.75                     6
4    CLG0004   96             7.91  7.69                     7

  Internship_Experience  Extra_Curricular_Score  Communication_Skills  \
0                    No                       8                     8
1                    No                       7                     8
2                    No                       3                     1
3                   Yes                       1                     6
4                    No                       8                    10

   Projects_Completed Placement
0                   4        No
1                   0        No
2                   1        No
3                   1        No
4                   2        No

 Information on the Dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   College_ID              10000 non-null  object
 1   IQ                      10000 non-null  int64
 2   Prev_Sem_Result         10000 non-null  float64
 3   CGPA                    10000 non-null  float64
 4   Academic_Performance    10000 non-null  int64
 5   Internship_Experience   10000 non-null  object
 6   Extra_Curricular_Score  10000 non-null  int64
 7   Communication_Skills    10000 non-null  int64
 8   Projects_Completed      10000 non-null  int64
 9   Placement               10000 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 781.4+ KB
None

 Numerical Summary

                          count       mean        std    min    25%    50%  \
IQ                      10000.0  99.471800  15.053101  41.00  89.00  99.00
Prev_Sem_Result         10000.0   7.535673   1.447519   5.00   6.29   7.56
CGPA                    10000.0   7.532379   1.470141   4.54   6.29   7.55
Academic_Performance    10000.0   5.546400   2.873477   1.00   3.00   6.00
Extra_Curricular_Score  10000.0   4.970900   3.160103   0.00   2.00   5.00
Communication_Skills    10000.0   5.561800   2.900866   1.00   3.00   6.00
Projects_Completed      10000.0   2.513400   1.715959   0.00   1.00   3.00

                           75%     max
IQ                      110.00  158.00
Prev_Sem_Result           8.79   10.00
CGPA                      8.77   10.46
Academic_Performance      8.00   10.00
Extra_Curricular_Score    8.00   10.00
Communication_Skills      8.00   10.00
Projects_Completed        4.00    5.00

 Shape of the Dataset

Rows: 10000, Columns: 10

 Check for Missing Values

College_ID                0
IQ                        0
Prev_Sem_Result           0
CGPA                      0
Academic_Performance      0
Internship_Experience     0
Extra_Curricular_Score    0
Communication_Skills      0
Projects_Completed        0
Placement                 0
dtype: int64

 The Value Counts for Internship_Experience

Internship_Experience
No     6036
Yes    3964
Name: count, dtype: int64

 The Value Counts for Placement

Placement
No     8341
Yes    1659
Name: count, dtype: int64
  College_ID   IQ  Prev_Sem_Result  CGPA  Academic_Performance  \
0    CLG0030  107             6.61  6.28                     8
1    CLG0061   97             5.52  5.37                     8
2    CLG0036  109             5.36  5.83                     9
3    CLG0055  122             5.47  5.75                     6
4    CLG0004   96             7.91  7.69                     7

   Internship_Experience  Extra_Curricular_Score  Communication_Skills  \
0                      0                       8                     8
1                      0                       7                     8
2                      0                       3                     1
3                      1                       1                     6
4                      0                       8                    10

   Projects_Completed Placement
0                   4        No
1                   0        No
2                   1        No
3                   1        No
4                   2        No